.blogcard {
    flex: 1 1 calc(25% - 20px); /* Cards take up one-third of the row with a margin */
    max-width: calc(25% - 20px); /* Ensures max width doesn't exceed one-third */
    box-sizing: border-box;
    border-radius: 15px;
    background-image: url('../media/MacBook\ Air\ -\ 3.png');
    opacity: .75;
    font-size: smaller;

  }

  .blogcard:hover{
    scale: 1.05;
    transition: 150ms ease-in-out;
  }
  
  @media (max-width: 768px) {
    .blogcard {
      flex: 1 1 calc(50% - 20px); /* For tablets, make the cards take up half the width */
      max-width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .blogcard {
      flex: 1 1 100%; /* For small screens, make the cards full width */
      max-width: 100%;
    }
  }